
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:lemonchiffon;
  }
  
  /* Navigation Bar */
  
  #home {
    display:flex;
    background-image: url("html_finalprojimages/Homepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 30mm;
   }
  
  .topmenu {
    color: purple;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration:underline;
  }
  
  .topmenu:hover {
    color: purple;
  }
  
  .topdiv {
    display:flex;
    margin: 100px;
    float: right;
    padding-right: 1cm;
  }
  

  .profile_name {
    margin: 30px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: purple;
    padding-left: 8cm;
  }
  
  /* Skills */
  
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #7600bc;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
   /* About Me*/
  
  .container {
    padding-left: 200px;
    padding-top:50px;
    position:left;
    display: flex;
    width: 1250px;
  }
  
  /* About Me */
  
  .about-me {
    display: flex;
    align-items: center;
  }
  
  #about-me h1 {
    padding-left: 60px;
    text-align: left;
    font-size: 65px;
    margin-top: 60px;
    color: #7600bc;
  }
  
  #about-me p {
    padding-left: 60px;
    text-align: left;
    font-size: 25px;
    color: rgb(128, 128, 128);
  }
  
  .profile_image {
    width: 350px;
    height: fit-content;
    vertical-align: middle;
    margin: 10px;
    border-radius: 20pxxs;
  }
  
  /* Skills */
  
  .all_skills {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .skill {
    border: px solid gray;
    border-radius: 30px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 1in;
    height: 1.2in;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 3px 10px gray;
    background-color:white;
  }
  
  .skill img {
    height: 60px;
    align-items: center;
  }
  
  .skills h4 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Projects */
  
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects-container hr {
    width: 75%;
    margin-left: 5cm;
  }
  
  .project-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 160px;
    padding-bottom: 5px;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 18px;
    margin-left: 30px;
  }
  
  /* Contact me */
  
  #contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 200px;
  }

  /* form format*/
  form {
    align-items: center;
    display: flex;
    flex-direction: column; 
  }

  /* form header*/
  form h5 {
    color: #7600bc;
    font-size:30px;
    font-weight:bold;
  }

  /* form input box*/
  form input { 
    background:#f5f5f5;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    height:35px;
    width: 600px;
    border-color:black;
    border-width: 2px;
  }
  /* form message box*/
  form textarea { 
    background:#f5f5f5;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    width:600px;
    height:200px;
    border-color:black;
    border-width: 2px;
  }
  
  form button {
    background-color: #7600bc;
    color: white;
    display: block;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
  }
  

  /* Scroll to Top Button */
  
  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #7600bc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }